.social-networks {
  p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    justify-content: start;
    gap: 1em;
    list-style: none;

    a {
      text-decoration: none;

      div {
        border-bottom: 3px solid transparent;
        padding: 0.5em 1em;
        transition: all 0.3s ease;

        &:hover {
          border-color: var(--accentColor);
        }
      }
    }

    i {
      color: var(--textColor);
    }
  }
}
@media screen and (max-width: 800px) {
  ul {
    li {
      i {
        font-size: 30px;
      }
    }
  }
}
