<p-dialog
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  [(visible)]="visible"
  (onHide)="onHide()"
  [style]="{ width: '100%', maxWidth: '40rem' }"
>
  <div class="loading-modal p-component-overlay" *ngIf="loading$ | async">
    <i class="pi pi-spin pi-spinner"></i>
  </div>

  <p-tabView>
    <p-tabPanel header="{{ 'tabs.info' | translate }}">
      <div class="grid p-fluid">
        <form [formGroup]="form" (ngSubmit)="send()" class="col-12 p-3">
          <div class="grid">
            <div class="xs:col-12 lg:col-6">
              <span class="p-float-label">
                <input
                  type="text"
                  class="p-inputtext-sm"
                  [ngClass]="{
                    'ng-invalid': form.controls['user'].invalid,
                    'ng-dirty': form.controls['user'].dirty
                  }"
                  formControlName="user"
                  pInputText
                />
                <label>{{ 'columns.user' | translate }} *</label>
              </span>
              <small *ngIf="!form.controls['user'].valid" class="p-error">
                {{ errores['user'] }}
              </small>
            </div>
            <div class="xs:col-12 lg:col-6">
              <span class="p-float-label">
                <p-calendar
                  class="p-inputtext-sm"
                  formControlName="date"
                  [showIcon]="true"
                  appendTo="body"
                ></p-calendar>
                <label>{{ 'columns.date' | translate }} *</label>
              </span>
              <small *ngIf="!form.controls['date'].valid" class="p-error">
                {{ errores['date'] }}
              </small>
            </div>
            <div class="xs:col-12 lg:col-12">
              <span class="p-float-label">
                <textarea
                  formControlName="description"
                  class="p-inputtext-sm"
                  [ngClass]="{
                    'ng-invalid': form.controls['description'].invalid,
                    'ng-dirty': form.controls['description'].dirty
                  }"
                  pInputTextarea
                ></textarea>
                <label>{{ 'columns.description' | translate }} *</label>
              </span>
              <small
                *ngIf="!form.controls['description'].valid"
                class="p-error"
              >
                {{ errores['description'] }}
              </small>
            </div>
            <div class="xs:col-12 lg:col-6">
              <span class="p-float-label">
                <input
                  type="text"
                  class="p-inputtext-sm"
                  [ngClass]="{
                    'ng-invalid': form.controls['video'].invalid,
                    'ng-dirty': form.controls['video'].dirty
                  }"
                  formControlName="video"
                  pInputText
                />
                <label>{{ 'columns.video' | translate }} *</label>
              </span>
              <small *ngIf="!form.controls['video'].valid" class="p-error">
                {{ errores['video'] }}
              </small>
            </div>

            <ng-container>
              <ng-container *ngFor="let component of components; let i = index">
                <div class="col-12">
                  <span class="p-float-label">
                    <input
                      type="text"
                      class="p-inputtext-sm"
                      formControlName="video"
                      pInputText
                    />
                    <label>{{ 'columns.video' | translate }} *</label>
                  </span>
                  <small *ngIf="!form.controls['video'].valid" class="p-error">
                    {{ errores['video'] }}
                  </small>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div class="button-container my-3">
            <button
              pButton
              type="submit"
              [label]="
                'buttons.create'
                  | translate
                    : {
                        name:
                          'tables.' + names.camelCase.singular + '.singular'
                          | translate
                      }
              "
              *ngIf="modalMode === 'create'"
            ></button>
            <button
              pButton
              type="submit"
              [label]="
                'buttons.update'
                  | translate
                    : {
                        name:
                          'tables.' + names.camelCase.singular + '.singular'
                          | translate
                      }
              "
              *ngIf="modalMode === 'update'"
            ></button>
          </div>
        </form>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
