<div class="login-body">
  <app-language-select></app-language-select>
  <div class="login-panel p-fluid">
    <div class="p-g">
      <div class="custom-login-header grid">
        <div class="col-9">
          <h1>{{ 'paginas.recuperarPassword.titulo' | translate }}</h1>
          <h2>{{ 'paginas.recuperarPassword.subtitulo' | translate }}</h2>
        </div>
        <div class="col-3">
          <img [src]="logoUrl" />
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="recuperar()">
        <div class="p-fluid">
          <div class="xs:col-12 lg:col-12">
            <div class="p-float-label">
              <input
                type="text"
                formControlName="correo"
                [ngClass]="{
                  'ng-invalid': form.controls['correo'].invalid,
                  'ng-dirty': form.controls['correo'].dirty
                }"
                pInputText
              />
              <label for="correo">{{ 'columns.email' | translate }}</label>
            </div>
            <small *ngIf="!form.controls['correo'].valid" class="p-error">
              {{ errores['correo'] }}
            </small>
          </div>
          <div class="xs:col-12 lg:col-12">
            <div class="button-container">
              <button
                *ngIf="loading"
                [disabled]="form.invalid"
                pButton
                type="submit"
                [label]="'paginas.recuperarPassword.enviar' | translate"
                icon="pi pi-spin pi-spinner"
              ></button>
              <button
                *ngIf="!loading"
                [disabled]="form.invalid"
                pButton
                type="submit"
                [label]="'paginas.recuperarPassword.enviar' | translate"
                icon="ui-icon-person"
              ></button>
              <a [routerLink]="['/login']">{{
                'paginas.recuperarPassword.navegacion' | translate
              }}</a>
            </div>
          </div>
          <div class="col-12" *ngIf="res">
            <h3>Respuesta:</h3>
            <pre id="json">{{ res }}</pre>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
