.layout-wrapper {
  .layout-main {
    .layout-main-content {
      padding: 2em 3.5em;
      height: calc(100vh - 60px);
      overflow-y: scroll;
    }
  }
}

@media screen and (max-width: 768px) {
  .layout-wrapper {
    .layout-main {
      .layout-main-content {
        padding: 1em 1em;
      }
    }
  }
}
