<header>
  <div class="cms">
    <a [routerLink]="'/' + lang() + '/backoffice'">CMS</a>
  </div>
  <div class="me">
    <div>
      <img src="assets/images/me.jpg" alt="Juan" />
    </div>

    <div>
      <h1>Juan Sáez García</h1>
    </div>

    <div>
      <span>{{ 'sidebar.description' | translate }}</span>
    </div>
    <div class="mt-2 flex gap-2 align-items-stretch">
      <app-language-select></app-language-select>
      <p-toggleButton
        [formControl]="colorModeFormControl"
        [offIcon]="'fa fa-moon'"
        [onIcon]="'fa fa-sun'"
        ariaLabel="Color mode"
      ></p-toggleButton>
    </div>
  </div>

  <span class="hamburger-button-menu" (click)="openNav()">
    <fa-icon [icon]="faBars"></fa-icon>
  </span>

  <div class="my-container">
    <div class="max-width">
      <nav>
        <ul>
          @for (page of pages(); track page) {
          <li>
            <a [routerLink]="page.routerLink" routerLinkActive="active">{{ page.name | titlecase }}</a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</header>

<div id="myNav" class="overlay">
  <a class="close-button" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    @for (page of pages(); track page) {
    <a (click)="closeNav()" [routerLink]="page.routerLink" routerLinkActive="active">{{ page.name | titlecase }}</a>
    }
  </div>
</div>
