<header>
  <div class="cms">
    <a [routerLink]="'/backoffice'">CMS</a>
  </div>
  <div class="me">
    <div>
      <img src="assets/images/me.jpg" alt="Juan" />
    </div>

    <div>
      <h1>Juan Sáez García</h1>
    </div>

    <div>
      <span>{{ 'sidebar.description' | translate }}</span>
    </div>
    <div class="mt-2">
      <app-language-select></app-language-select>
    </div>
  </div>

  <span class="hamburger-button-menu" style="font-size: 30px; cursor: pointer" (click)="openNav()">
    <fa-icon [icon]="faBars"></fa-icon>
  </span>

  <div class="my-container">
    <div class="max-width">
      <nav>
        <ul>
          <li *ngFor="let page of pages">
            <a [routerLink]="'/' + page.page" routerLinkActive="active">{{ page.name | titlecase }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="close-button" (click)="closeNav()">&times;</a>
  <div class="overlay-content">
    <a *ngFor="let page of pages" (click)="closeNav()" [routerLink]="'/' + page.page" routerLinkActive="active">{{
      page.name | titlecase
    }}</a>
  </div>
</div>
