<div class="config p-3">
  <p-card>
    <h1>{{ 'paginas.config.title' | translate }}</h1>
    <br />
    <form [formGroup]="form" (ngSubmit)="updateConfiguration()">
      <!-- <span>
      <h5>{{ "paginas.config.info" | translate }}</h5>
      <hr>
    </span>
    <div class="grid">

      <div class="xs:col-12 md:col-4 lg:col-4" >
        <span class="p-float-label" *skeleton="loadingConfiguraciones" [style]="{'width':'100%'}">
          <input [style]="{'width':'100%'}" type="text" class="p-inputtext-sm"
            [ngClass]="{'ng-invalid': form.controls['nombre'].invalid, 'ng-dirty': form.controls['nombre'].dirty}"
            formControlName="nombre" pInputText>
          <label>{{'paginas.config.model.nombre' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['nombre'].valid " class="p-error">
          {{errores['nombre']}}
        </small>
      </div>
      </div> -->
      <!-- <div class="grid">
      <div class="xs:col-12 md:col-6 lg:col-6">
        <span class="p-float-label">
          <h5>{{'paginas.config.model.favicon' | translate}} *</h5>
          <p-fileUpload accept="image/*" [files]="form.controls['favicon'].value" *skeleton="loadingConfiguraciones; height:'10rem'">
          </p-fileUpload>
        </span>
        <small *ngIf="!form.controls['favicon'].valid " class="p-error">
          {{errores['favicon']}}
        </small>
      </div>
      <div class="xs:col-12 md:col-6 lg:col-6">
        <span class="p-float-label">
          <h5>{{'paginas.config.model.logo' | translate}} *</h5>
          <p-fileUpload accept="image/*" [files]="form.controls['logo'].value" *skeleton="loadingConfiguraciones; height:'10rem'">
          </p-fileUpload>
        </span>
        <small *ngIf="!form.controls['logo'].valid " class="p-error">
          {{errores['logo']}}
        </small>
      </div>
    </div> -->
      <span>
        <h5>{{ 'paginas.config.token' | translate }}</h5>
        <hr />
      </span>
      <div class="grid">
        <div class="xs:col-12 md:col-4 lg:col-4">
          <span class="p-float-label" *skeleton="loadingConfiguraciones">
            <p-inputNumber
              [style]="{ width: '100%' }"
              type="text"
              class="p-inputtext-sm"
              disabled="true"
              [ngClass]="{
                'ng-invalid': form.controls['tokenExpiration'].invalid,
                'ng-dirty': form.controls['tokenExpiration'].dirty
              }"
              formControlName="tokenExpiration"
            ></p-inputNumber>
            <label
              >{{ 'paginas.config.model.tokenExpiration' | translate }} *</label
            >
          </span>
          <small
            *ngIf="!form.controls['tokenExpiration'].valid"
            class="p-error"
          >
            {{ errores['tokenExpiration'] }}
          </small>
        </div>
        <div class="xs:col-12 md:col-4 lg:col-4">
          <span class="p-float-label" *skeleton="loadingConfiguraciones">
            <p-inputNumber
              [style]="{ width: '100%' }"
              type="text"
              class="p-inputtext-sm"
              disabled="true"
              [ngClass]="{
                'ng-invalid':
                  form.controls['passwordResetTokenExpiration'].invalid,
                'ng-dirty': form.controls['passwordResetTokenExpiration'].dirty
              }"
              formControlName="passwordResetTokenExpiration"
            ></p-inputNumber>
            <label
              >{{
                'paginas.config.model.passwordResetTokenExpiration' | translate
              }}
              *</label
            >
          </span>
          <small
            *ngIf="!form.controls['passwordResetTokenExpiration'].valid"
            class="p-error"
          >
            {{ errores['passwordResetTokenExpiration'] }}
          </small>
        </div>
        <div class="xs:col-12 md:col-4 lg:col-4">
          <span class="p-float-label" *skeleton="loadingConfiguraciones">
            <input
              [style]="{ width: '100%' }"
              type="text"
              class="p-inputtext-sm"
              disabled="true"
              [ngClass]="{
                'ng-invalid': form.controls['tokenSecretKey'].invalid,
                'ng-dirty': form.controls['tokenSecretKey'].dirty
              }"
              formControlName="tokenSecretKey"
              pInputText
            />
            <label
              >{{ 'paginas.config.model.tokenSecretKey' | translate }} *</label
            >
          </span>
          <small *ngIf="!form.controls['tokenSecretKey'].valid" class="p-error">
            {{ errores['tokenSecretKey'] }}
          </small>
        </div>
      </div>
      <!-- <span>
      <h5>{{ "paginas.config.table" | translate }}</h5>
      <hr>
    </span>
    <div class="grid">
      <div class="xs:col-12 md:col-4 lg:col-4">
        <span class="p-float-label" *skeleton="loadingConfiguraciones">
          <p-dropdown [style]="{'width':'100%'}" [showClear]="true" appendTo="body"
            [ngClass]="{'ng-invalid': form.controls['paginator'].invalid, 'ng-dirty': form.controls['paginator'].dirty}"
            formControlName="paginator" [options]="paginators">
          </p-dropdown>
          <label>{{'paginas.config.model.paginator' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['paginator'].valid " class="p-error">
          {{errores['paginator']}}
        </small>
      </div>
    </div> -->
      <!-- <span>
      <h5>{{ "paginas.config.languages" | translate }}</h5>
      <hr>
    </span>
    <div class="grid">
      <div class="xs:col-12 md:col-4 lg:col-4">
        <span class="p-float-label" *skeleton="loadingConfiguraciones">
          <p-dropdown [filter]="true" filterBy="name" [style]="{'width':'100%'}" [showClear]="true" appendTo="body"
            [ngClass]="{'ng-invalid': form.controls['idioma'].invalid, 'ng-dirty': form.controls['idioma'].dirty}"
            formControlName="idioma" [options]="idiomasActivos">
            <ng-template pTemplate="selectedItem">
              <div class="idioma-item idioma-item-value" *ngIf="form.controls['idioma'].value">
                <div class="banderita">
                  <span class="" [class]="'flag flag-'+form.controls['idioma'].value.siglas"></span>
                </div>
                <div class="nombre">{{form.controls['idioma'].value.nativeName}}</div>
              </div>
            </ng-template>
            <ng-template let-idioma pTemplate="item">
              <div class="idioma-item">
                <div class="banderita">
                  <span class="" [class]="'flag flag-'+idioma.siglas"></span>
                </div>
                <div class="nombre">{{idioma.nativeName}}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label>{{'paginas.config.model.language' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['idioma'].valid " class="p-error">
          {{errores['idioma']}}
        </small>
      </div>
      <div class="xs:col-12 md:col-4 lg:col-4">
          <p-multiSelect [filter]="true" filterBy="name" [style]="{'width':'100%'}"  appendTo="body"
            [ngClass]="{'ng-invalid': form.controls['idioma'].invalid, 'ng-dirty': form.controls['idioma'].dirty}"
            formControlName="idiomasActivos" [options]="idiomas" >
            <ng-template let-value pTemplate="selectedItems">
              <div class="idiomas-lista" >
                <div class="idioma-item" *ngFor="let option of form.controls['idiomasActivos'].value">
                  <div class="banderita">
                    <span class="" [class]="'flag flag-'+option.siglas"></span>
                  </div>
                  <div class="nombre">{{option.nativeName}}</div>
                </div>
              </div>

            </ng-template>
            <ng-template let-idioma pTemplate="item">
              <div class="idioma-item">
                <div class="banderita">
                  <span class="" [class]="'flag flag-'+idioma.siglas"></span>
                </div>
                <div class="nombre">{{idioma.nativeName}}</div>
              </div>
            </ng-template>
          </p-multiSelect>
          <label>{{'paginas.config.model.languages' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['idioma'].valid " class="p-error">
          {{errores['idioma']}}
        </small>
      </div>
    </div> -->
      <span>
        <h5>{{ 'paginas.config.politics' | translate }}</h5>
        <hr />
      </span>
      <div class="grid">
        <div class="xs:col-12 md:col-12 lg:col-12">
          <span class="p-float-label" *skeleton="loadingConfiguraciones">
            <textarea
              pInputTextarea
              formControlName="privacyPolicies"
              class="w-full"
              [style]="{ 'min-height': '250px' }"
            ></textarea>
            <label
              >{{ 'paginas.config.model.privacyPolicies' | translate }} *</label
            >
          </span>
          <small
            *ngIf="!form.controls['privacyPolicies'].valid"
            class="p-error"
          >
            {{ errores['privacyPolicies'] }}
          </small>
        </div>
      </div>
      <div class="grid">
        <div class="xs:col-12 md:col-12 lg:col-12">
          <span class="p-float-label" *skeleton="loadingConfiguraciones">
            <textarea
              pInputTextarea
              formControlName="cookiePolicies"
              class="w-full"
              [style]="{ 'min-height': '250px' }"
            ></textarea>
            <label
              >{{ 'paginas.config.model.cookiePolicies' | translate }} *</label
            >
          </span>
          <small *ngIf="!form.controls['cookiePolicies'].valid" class="p-error">
            {{ errores['cookiePolicies'] }}
          </small>
        </div>
      </div>
      <div class="grid">
        <div class="xs:col-12 md:col-12 lg:col-12">
          <span class="p-float-label" *skeleton="loadingConfiguraciones">
            <textarea
              pInputTextarea
              formControlName="legalWarning"
              class="w-full"
              [style]="{ 'min-height': '250px' }"
            ></textarea>
            <label
              >{{ 'paginas.config.model.legalWarning' | translate }} *</label
            >
          </span>
          <small *ngIf="!form.controls['legalWarning'].valid" class="p-error">
            {{ errores['legalWarning'] }}
          </small>
        </div>
      </div>
      <!-- <span>
      <h5>{{ "paginas.config.style" | translate }}</h5>
      <hr>
    </span>
    <div class="grid">
      <div class="xs:col-12 md:col-4 lg:col-4">
        <span class="p-float-label">
          <p-dropdown [style]=" {'width':'100%'}" [showClear]="true" appendTo="body"
            [ngClass]="{'ng-invalid': form.controls['tipografiaTitle'].invalid, 'ng-dirty':
            form.controls['tipografiaTitle'].dirty}"
            formControlName="tipografiaTitle" [options]="idiomas" optionLabel="nombre">
          </p-dropdown>
          <label>{{'forms.options.tipografias' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['tipografiaTitle'].valid " class="p-error">
          {{errores['tipografiaTitle']}}
        </small>
      </div>
      <div class="xs:col-12 md:col-4 lg:col-4">
        <span class="p-float-label">
          <p-dropdown [style]="{'width':'100%'}" [showClear]="true" appendTo="body" [ngClass]="{'ng-invalid': form.controls['tipografiaTexto'].invalid, 'ng-dirty':
            form.controls['tipografiaTexto'].dirty}" formControlName="tipografiaTexto" [options]="idiomas"
            optionLabel="nombre">
          </p-dropdown>
          <label>{{'forms.options.tipografias' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['tipografiaTexto'].valid " class="p-error">
          {{errores['tipografiaTexto']}}
        </small>
      </div>
      <div class="xs:col-12 md:col-4 lg:col-4">

      </div>
      <div class="xs:col-12 md:col-4 lg:col-4">
        <span class="p-float-label">
          <p-colorPicker [ngClass]="{'ng-invalid': form.controls['colorPrimario'].invalid, 'ng-dirty':
            form.controls['colorPrimario'].dirty}" format="rgb" formControlName="colorPrimario"></p-colorPicker>
          <label>{{'forms.options.colorPrimario' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['colorPrimario'].valid " class="p-error">
          {{errores['colorPrimario']}}
        </small>
      </div>
      <div class="xs:col-12 md:col-4 lg:col-4">
        <span class="p-float-label">
          <p-colorPicker [ngClass]="{'ng-invalid': form.controls['colorPrimario'].invalid, 'ng-dirty':
            form.controls['colorPrimario'].dirty}" format="rgb" formControlName="colorPrimario"></p-colorPicker>
          <label>{{'forms.options.colorPrimario' | translate}} *</label>
        </span>
        <small *ngIf="!form.controls['colorPrimario'].valid " class="p-error">
          {{errores['colorPrimario']}}
        </small>
      </div>
    </div> -->

      <div class="flex justify-content-end">
        <button
          class="col-3"
          pButton
          type="submit"
          label="{{ 'buttons.edit' | translate : { name: '' } }}"
        ></button>
      </div>
    </form>
  </p-card>
</div>
