$primaryColor: #ffffff;
$primaryLightColor: #b1945f;
// $primaryLightColor:#5f5034;

$primaryTextColor: #dab776;
$primaryTextHoverColor: #e3f2fd;
$accentColor: #b1945f;
$accentLightColor: #ffffff;
$accentTextColor: #b1945f;
$activeMenuItemTextColor: #b1945f;
$darkActiveMenuItemTextColor: #b1945f;
$darkMenuItemTextColor: #dee0e3;
$darkMenuItemInactiveTextColor: #757575;
$darkMenuItemHoverBgColor: #545454;
$darkSidemenuBgColor: #343434;
$darkMenuBgColor: #424242;

@import './layout/_layout';
