<p-fileUpload
  (onSelect)="onSelect($event)"
  [multiple]="true"
  accept="image/*"
  chooseLabel="{{
    'buttons.add' | translate : { name: ('tables.foto.plural' | translate) }
  }}"
  [showUploadButton]="false"
  [showCancelButton]="false"
  mode="advanced"
  class="w-full"
>
  <ng-template pTemplate="toolbar"></ng-template>
  <ng-template let-file pTemplate="file"></ng-template>
  <ng-template pTemplate="content">
    <p-table
      [value]="fotos ? (fotos | copyOfArray) : []"
      [columns]="cols"
      responsiveLayout="scroll"
      class="fotos"
      customUpload="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="fotos">
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
          <th translate>general.opciones</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-foto
        let-columns="columns"
        let-index="rowIndex"
      >
        <tr [pReorderableRow]="index">
          <td class="h-full max-h-2rem">
            <img
              class="h-full max-h-2rem"
              [src]="
                foto.url
                  ? (foto.url | safe)
                  : (foto.datos | transformBase64ToSrc)
              "
              [alt]="foto.nombre"
              style="min-height: 100px"
              draggable="false"
            />
          </td>
          <td style="text-overflow: hidden; width: 90%; overflow: hidden">
            {{ foto.nombre }}
          </td>
          <td>
            <div class="w-full flex justify-content-center">
              <button
                [disabled]="index === 0"
                pButton
                (click)="onRowReorder(foto, index, 'up')"
                class="p-button-primary"
                style="width: 40px; height: 40px; margin-left: 5px"
                icon="pi pi-arrow-up"
              ></button>
              <button
                [disabled]="index === fotos.length - 1"
                pButton
                (click)="onRowReorder(foto, index, 'down')"
                class="p-button-primary"
                style="width: 40px; height: 40px; margin-left: 5px"
                icon="pi pi-arrow-down"
              ></button>
              <button
                pButton
                (click)="onRemove(foto); $event.stopPropagation()"
                class="p-button-primary"
                style="width: 40px; height: 40px; margin-left: 5px"
                icon="pi pi-times"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-fileUpload>
