<p-dialog
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  [maximizable]="true"
  [(visible)]="visible"
  (onHide)="hide()"
  [style]="{ width: '100%', maxWidth: '40rem' }"
>
  <div class="grid p-fluid">
    <form [formGroup]="form" (ngSubmit)="send()" class="col-12 p-3">
      <div class="grid">
        <div class="xs:col-12 lg:col-12 mt-4">
          <span class="p-float-label" appGhost appSkeleton="appSkeleton: true">
            <input
              type="text"
              class="p-inputtext-sm"
              [ngClass]="{
                'ng-invalid': form.controls['name'].invalid,
                'ng-dirty': form.controls['name'].dirty
              }"
              formControlName="name"
              pInputText
            />
            <label>{{ 'columns.name' | translate }} *</label>
          </span>
        </div>
        <div class="xs:col-12 lg:col-12 mt-4">
          <span class="p-float-label">
            <textarea
              formControlName="description"
              class="p-inputtext-sm"
              [ngClass]="{
                'ng-invalid': form.controls['description'].invalid,
                'ng-dirty': form.controls['description'].dirty
              }"
              pInputTextarea
            ></textarea>
            <label>{{ 'columns.description' | translate }} *</label>
          </span>
        </div>
      </div>

      <app-entity-modal-buttons
        [form]="form"
        [name]="'certificateGroup'"
        [modalMode]="modalMode"
        (cancel)="hide()"
      ></app-entity-modal-buttons>
    </form>
  </div>
</p-dialog>
