@if(modalMode !== ModalMode.CREATE){ @if(!loading){
<section class="audit-fields flex justify-content-end mt-3">
  @if(entity){
  <span class="info-container">
    <div class="info">
      <b class="title">{{ ('columns.createdAt' | translate) + ': ' }}</b>
      <span class="data">{{ entity.createdAt | date : 'long' }}</span>
    </div>
    <div class="info">
      <b class="title">{{ ('columns.updatedAt' | translate) + ': ' }}</b>
      @if(entity.updatedAt){
      <span class="data">{{ entity.updatedAt | date : 'long' }}</span>
      } @else {
      <span class="data">N/A</span>
      }
    </div>
  </span>
  }
</section>
} @else {
<div class="w-full mt-3 flex justify-content-end">
  <div class="flex flex-column gap-2">
    <p-skeleton width="20em" height="1em"></p-skeleton>
    <p-skeleton width="20em" height="1em"></p-skeleton>
  </div>
</div>
} }
