<div class="login-body">
  <app-language-select></app-language-select>
  <div class="login-panel p-fluid">
    <div class="p-g">
      <div class="custom-login-header grid">
        <div class="col-9">
          <h1>{{ 'paginas.formularioRecuperacion.titulo' | translate }}</h1>
          <h2>{{ 'paginas.formularioRecuperacion.subtitulo' | translate }}</h2>
        </div>
        <div class="col-3">
          <!-- <img [src]="logoUrl" /> -->
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="recuperar()">
        <div class="p-fluid">
          <div class="xs:col-12 lg:col-12">
            <div class="p-float-label">
              <input
                type="password"
                formControlName="password"
                [ngClass]="{
                  'ng-invalid': form.controls['password'].invalid,
                  'ng-dirty': form.controls['password'].dirty
                }"
                pInputText
              />
              <label for="password">{{ 'columns.password' | translate }}</label>
            </div>
            <small *ngIf="!form.controls['password'].valid" class="p-error">
              {{ errores['password'] }}
            </small>
          </div>
          <div class="xs:col-12 lg:col-12">
            <div class="p-float-label">
              <input
                type="password"
                formControlName="repeat_password"
                [ngClass]="{
                  'ng-invalid': form.controls['repeat_password'].invalid,
                  'ng-dirty': form.controls['repeat_password'].dirty
                }"
                pInputText
              />
              <label for="password_repeat">{{ 'columns.repeat_password' | translate }}</label>
            </div>
            <small *ngIf="!form.controls['repeat_password'].valid" class="p-error">
              {{ errores['repeat_password'] }}
            </small>
          </div>

          <div class="xs:col-12 lg:col-12">
            <div class="button-container">
              <button
                *ngIf="loading"
                [disabled]="form.invalid"
                pButton
                type="submit"
                [label]="'paginas.formularioRecuperacion.enviar' | translate"
                icon="pi pi-spin pi-spinner"
              ></button>
              <button
                *ngIf="!loading"
                [disabled]="form.invalid"
                pButton
                type="submit"
                [label]="'paginas.formularioRecuperacion.enviar' | translate"
                icon="ui-icon-person"
              ></button>
              <a [routerLink]="['/backoffice/login']">{{ 'paginas.formularioRecuperacion.navegacion' | translate }}</a>
            </div>
          </div>
          <div class="col-12" *ngIf="res">
            <h3>Respuesta:</h3>
            <pre id="json">{{ res }}</pre>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
