<header>
  <div class="company">
    <div class="company-name">
      <h1 routerLink="/backoffice">Personal Web</h1>
    </div>
  </div>
  <div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="breadcrumbs$ | async"></p-breadcrumb>
  </div>
  <div class="options">
    <div class="user">
      <div class="user-name">
        <h2>{{ (user$ | async).email }}</h2>
      </div>
    </div>
    <div class="menu">
      <button
        pButton
        pRipple
        class="p-button-secondary p-button-text"
        icon="pi pi-bars"
        styleClass="p-button-lg"
        (click)="sidebarVisible = true"
      ></button>
    </div>
  </div>
</header>
<p-sidebar [(visible)]="sidebarVisible" position="right" [closeOnEscape]="true">
  <ng-template pTemplate="header"><h3 class="p-0 m-0">Sidebar</h3></ng-template>
  <h4>Languages</h4>
  <div class="language">
    <app-language-select type="select-button"></app-language-select>
  </div>
  <h4>Usuario</h4>
  <div class="user">
    <button
      pButton
      pRipple
      label="Profile"
      class="p-button-primary"
      icon="pi pi-user"
      styleClass="p-button-lg"
    ></button>
    <button
      pButton
      pRipple
      label="Log Out"
      class="p-button-secondary"
      icon="pi pi-sign-out"
      styleClass="p-button-lg"
    ></button>
  </div>
  <h4>Menus</h4>
  <nav>
    <ul>
      <li
        *ngFor="let menu of menus"
        [routerLink]="menu.routerLink"
        routerLinkActive="active"
        (click)="sidebarVisible = false"
      >
        {{ menu.label }}
      </li>
    </ul>
  </nav>
</p-sidebar>
