<header>
  <div class="company">
    <div class="company-name">
      <h1 routerLink="/backoffice">Personal Web</h1>
    </div>
  </div>
  <div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="breadcrumbs$ | async"></p-breadcrumb>
  </div>
  <div class="options">
    <div class="user">
      <div class="user-name">
        <h2>{{ (user$ | async).email }}</h2>
      </div>
    </div>
    <div class="menu">
      <button
        pButton
        pRipple
        class="p-button-secondary p-button-text"
        icon="fa fa-bars"
        styleClass="p-button-lg"
        (click)="sidebarVisible = true"
        [attr.aria-label]="'Menu'"
      ></button>
    </div>
  </div>
</header>
<p-sidebar [(visible)]="sidebarVisible" position="right" [closeOnEscape]="true">
  <ng-template pTemplate="header"
    ><h3 class="p-0 m-0">{{ 'sidebar.title' | translate | titlecase }}</h3></ng-template
  >
  <h4>{{ 'sidebar.languages' | translate | titlecase }}</h4>
  <div class="language">
    <app-language-select type="dropdown" mode="complete"></app-language-select>
  </div>
  <h4>{{ 'sidebar.user' | translate | titlecase }}</h4>
  <div class="user">
    <button
      (click)="logOut()"
      pButton
      pRipple
      [label]="'sidebar.logOut' | translate | titlecase"
      class="p-button-secondary"
      icon="pi pi-sign-out"
      styleClass="p-button-lg"
    ></button>
  </div>
  <h4>{{ 'sidebar.menus' | translate | titlecase }}</h4>
  <nav>
    <ul>
      @for(menu of menus; track menu){
      <li [routerLink]="menu.routerLink" routerLinkActive="active" (click)="sidebarVisible = false">
        {{ 'breadcrumbs.' + menu.label | translate | titlecase }}
      </li>
      }
    </ul>
  </nav>
</p-sidebar>
