<div class="error-page">
  <div class="content">
    <div class="top">
      <div class="bottom">
        <div class="img mb-2">
          <img src="assets/images/error-page.png" alt="" />
        </div>

        <h3 class="m-0 pb-1"><b>error: </b> {{ error }}</h3>
        <h3 class="m-0 pb-1"><b>message: </b> {{ message }}</h3>
        <h3 class="m-0 pb-1"><b>path: </b> {{ path }}</h3>
        <h3 class="m-0 pb-1"><b>status: </b> {{ status }}</h3>
        <h3 class="m-0 pb-1"><b>timestamp: </b> {{ timestamp }}</h3>

        <a class="mt-3" routerLink="/">Go Back</a>
      </div>
    </div>
  </div>
</div>
