<div [ngSwitch]="tipo">
  <div *ngSwitchCase="tipos.TEXTO" class="max-w-4rem">{{ dato }}</div>
  <div *ngSwitchCase="tipos.FECHA">{{ dato | date : 'dd-MM-yyyy' }}</div>
  <div *ngSwitchCase="tipos.FECHA_HORA">
    {{ dato | date : 'dd-MM-yyyy HH:mm' }}
  </div>
  <div *ngSwitchCase="tipos.ACTIVO">
    <span [class]="'badge status-' + (dato ? 'activo' : 'inactivo')">{{
      dato ? 'Activo' : 'Inactivo'
    }}</span>
  </div>
  <div *ngSwitchCase="tipos.MONEDA">
    {{ dato }}<span *ngIf="dato != null">€</span>
  </div>
  <div
    *ngSwitchCase="tipos.ICONO"
    [style]="{ display: 'flex', 'align-items': 'center' }"
  >
    <i class="{{ dato }}"></i>
    <div class="ml-2">({{ dato }})</div>
  </div>
  <div *ngSwitchCase="tipos.IMAGENES">
    <img
      *ngIf="dato; else elseBlock"
      [src]="dato"
      style="width: 100%; max-width: 100px; height: 50px; object-fit: cover"
    />
    <ng-template #elseBlock>
      <img
        src="assets/images/img-not-found.png"
        alt="NO IMAGE"
        style="width: 100%; max-width: 100px; height: 50px; object-fit: cover"
      />
    </ng-template>
  </div>
  <div *ngSwitchCase="tipos.OBJECTO">
    {{(this.dato)?.[this.propiedadParaTipoObjecto]}}
  </div>
  <div *ngSwitchCase="tipos.OBJECTO_ARRAY">
    <div *ngFor="let object of this.dato">
      {{object?.[this.propiedadParaTipoObjecto]}},
    </div>
  </div>

  <div *ngSwitchDefault>{{ dato | truncate : 50 }}</div>
</div>
