<p-table
  #dt
  *ngIf="config"
  [value]="entities"
  [loading]="loading"
  [totalRecords]="count"
  [styleClass]="styleClass"
  [rows]="lazyLoadEventValue.rows"
  [rowHover]="true"
  [frozenValue]="[]"
  [frozenColumns]="[]"
  responsiveLayout="scroll"
  [resizableColumns]="true"
  [showCurrentPageReport]="config.showCurrentPageReport"
  [rowsPerPageOptions]="config.rowsPerPageOptions"
  [dataKey]="config.dataKey"
  [paginator]="config.paginator"
  selectionMode="single"
  [filterDelay]="0"
  [showFirstLastIcon]="true"
  paginatorPosition="bottom"
  [lazy]="true"
  [lazyLoadOnInit]="true"
  sortMode="single"
  [rowTrackBy]="rowTrackBy"
  (onLazyLoad)="onLazyLoad($event)"
  [currentPageReportTemplate]="'genericTable.currentPageReport' | translate"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h1 class="m-0 p-0">{{ config.title }}</h1>
      <div class="flex justify-content-end align-items-center gap-3">
        <app-generic-table-button
          *ngFor="let button of config.buttons.top"
          [position]="'top'"
          [button]="button"
          [entity]="null"
          (tableEvent)="onTableEvent($event)"
        ></app-generic-table-button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th *ngIf="config.buttons.start.length > 0"></th>
      <th *ngFor="let field of config.fields">
        <app-generic-table-header-column
          [field]="field"
          [lazyLoadEvent]="lazyLoadEventValue"
          (filter)="onFilter($event)"
          (sort)="onSort($event)"
        ></app-generic-table-header-column>
      </th>
      <th *ngIf="config.buttons.end.length > 0"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entity>
    <tr class="p-selectable-row">
      <th class="button-column" *ngIf="config.buttons.start.length > 0">
        <div class="button-container">
          <app-generic-table-button
            *ngFor="let button of config.buttons.start"
            [position]="'start'"
            [button]="button"
            [entity]="entity"
            (tableEvent)="onTableEvent($event)"
          ></app-generic-table-button>
        </div>
      </th>
      <td *ngFor="let field of config.fields">
        <app-generic-table-column [field]="field" [value]="entity"></app-generic-table-column>
      </td>
      <th class="button-column" *ngIf="config.buttons.end.length > 0">
        <div class="button-container">
          <app-generic-table-button
            *ngFor="let button of config.buttons.end"
            [position]="'end'"
            [button]="button"
            [entity]="entity"
            (tableEvent)="onTableEvent($event)"
          ></app-generic-table-button>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-frozen="frozen">
    <tr *ngIf="frozen">
      <td [attr.colspan]="config.buttons.start.length + config.fields.length + config.buttons.end.length">
        {{ 'genericTable.emptyMessage' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
