<form [formGroup]="form" *ngIf="modalMode !== ModalMode.VIEW">
  <div class="grid p-fluid p-0 m-0 mt-2 w-full">
    <div class="xs:col-12 sm:col-12 md:col-6 lg:col-6 p-1 m-0">
      <button
        [disabled]="loading"
        pButton
        type="button"
        [label]="'buttons.cancel' | translate"
        class="p-button-secondary p-button-sm"
        icon="fa-solid fa-xmark"
        *ngIf="modalMode === ModalMode.CREATE || modalMode === ModalMode.UPDATE"
        (click)="cancel.emit(true)"
      ></button>
    </div>
    <div class="xs:col-12 sm:col-12 md:col-6 lg:col-6 p-1 m-0">
      <button
        [disabled]="loading"
        pButton
        type="reset"
        [label]="'buttons.reset' | translate"
        class="p-button-secondary p-button-sm"
        *ngIf="modalMode === ModalMode.CREATE || modalMode === ModalMode.UPDATE"
        icon="fa-solid fa-broom"
      ></button>
    </div>

    <div class="xs:col-12 sm:col-12 md:col-12 lg:col-12 p-1 m-0">
      <button
        [disabled]="loading || form.status === 'PENDING' || (pendingChanges$ | async) === false"
        pButton
        type="submit"
        (click)="submit.emit(true)"
        class="p-button-sm"
        [label]="
          'buttons.' + modalMode
            | lowercase
            | translate
              : {
                  name: 'tables.' + name + '.singular' | translate
                }
        "
        icon="fa-solid fa-floppy-disk"
      ></button>
    </div>
  </div>
</form>
