<form [formGroup]="form" (ngSubmit)="submit.emit(true)">
  <div class="grid p-fluid p-0 m-0 mt-2 w-full">
    <div class="lg:col-6 md:col-6 sm:col-12 xs:col-12 pl-0 ml-0 pr-1">
      <button
        [disabled]="loading"
        pButton
        type="button"
        [label]="'buttons.cancel' | translate"
        class="p-button-secondary p-button-sm"
        icon="fa-solid fa-xmark"
        *ngIf="modalMode === ModalMode.CREATE || modalMode === ModalMode.UPDATE"
        (click)="cancel.emit(true)"
      ></button>
    </div>
    <div class="lg:col-6 md:col-6 sm:col-12 xs:col-12 pr-0 mr-0 pl-1">
      <button
        [disabled]="loading"
        pButton
        type="reset"
        [label]="'buttons.reset' | translate"
        class="p-button-secondary p-button-sm"
        *ngIf="modalMode === ModalMode.CREATE || modalMode === ModalMode.UPDATE"
        icon="fa-solid fa-broom"
      ></button>
    </div>

    <div class="col-12 p-0 m-0">
      <button
        [disabled]="loading || form.status === 'PENDING' || (pendingChanges$ | async) === false"
        pButton
        type="submit"
        class="p-button-sm"
        [label]="
          'buttons.' + modalMode
            | lowercase
            | translate
              : {
                  name: 'tables.' + name + '.singular' | translate
                }
        "
        icon="fa-solid fa-floppy-disk"
      ></button>
    </div>
  </div>
</form>
