@switch (positionsActionStatus()) { @case (ActionStatus.SUCCESS) {
<div class="experience">
  <ul>
    @for (positionGrouped of positionsGrouped(); track positionGrouped) {
    <li
      #position
      [id]="positionGrouped.company.id"
      [@positionEnterAnimation]="getPositionEnterAnimationState(positionGrouped.company.id)"
    >
      <div class="header">
        <div class="icon">
          @switch (positionGrouped.company.type) { @case (CompanyType.SCHOOL) {
          <fa-icon [icon]="faGraduationCap"></fa-icon>
          } @case (CompanyType.COMPANY) {
          <fa-icon [icon]="faBriefcase"></fa-icon>
          } }
        </div>
        <div class="organization">
          <h3>
            @if (positionGrouped.company.url) {
            <a [href]="positionGrouped.company.url" target="_blank">{{ positionGrouped.company.name }}</a>
            } @else {
            {{ positionGrouped.company.name }}
            }
          </h3>
          <span>({{ positionGrouped.time }})</span>
        </div>
      </div>
      <div class="items">
        <ul>
          @for (position of positionGrouped.positions; track position) {
          <li class="item">
            <div class="position">
              <span>{{ getTranslation(language()?.acronym, position?.nameTranslations) }}</span>
            </div>
            <div class="date">
              <span>{{
                (position.dateFrom | date : 'MM-yyyy') +
                  ' - ' +
                  (position.dateTo ? (position.dateTo | date : 'MM-yyyy') : ('general.present' | translate))
              }}</span>
            </div>
          </li>
          }
        </ul>
      </div>
    </li>
    }
  </ul>
</div>
} @case (ActionStatus.PENDING) {
<div class="experience">
  <ul>
    @for (skeleton of [0, 1, 2, 3]; track skeleton) {
    <li>
      <div class="header">
        <p-skeleton width="100%" height="10px"></p-skeleton>
      </div>
      <div class="items">
        <ul>
          @for (position of [0, 1]; track position) {
          <li class="item">
            <div class="position pb-1">
              <p-skeleton width="80%"></p-skeleton>
            </div>
            <div class="date">
              <p-skeleton width="60%"></p-skeleton>
            </div>
          </li>
          }
        </ul>
      </div>
    </li>
    }
  </ul>
</div>
} @case (ActionStatus.ERROR) {
<app-generic-error></app-generic-error>
} }
