<p-dialog
  *appLet="modalMode$ | async as modalMode"
  [draggable]="false"
  [resizable]="false"
  [header]="
    'buttons.' + modalMode
      | lowercase
      | translate
        : {
            name: 'tables.' + names.name(Naming.CAMEL_CASE, NumberMode.SINGULAR) + '.singular' | translate
          }
  "
  [modal]="true"
  [(visible)]="visible"
  (onHide)="hide()"
  [style]="{ width: '100%', maxWidth: '40rem' }"
>
  <form [formGroup]="form" (ngSubmit)="send()" *appLet="loading$ | async as loading">
    <div class="grid p-fluid mt-1">
      <div *appLet="'date' as field" appLoading [appIsLoading]="loading" class="xs:col-12 md:col-6 lg:col-6 mt-3">
        <span class="p-float-label">
          <p-calendar
            class="p-calendar-sm"
            [formControlName]="field"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            appendTo="body"
          ></p-calendar>
          <label [for]="field">
            {{ 'columns.' + field | translate }} {{ form.controls[field] | isRequired }}
            <span class="error">{{ form.controls[field] | errors | async }}</span>
          </label>
        </span>
      </div>
      <div *appLet="'language' as field" appLoading [appIsLoading]="loading" class="xs:col-12 md:col-6 lg:col-6 mt-3">
        <span class="p-float-label">
          <p-dropdown
            dataKey="id"
            class="p-inputtext-sm"
            [autoDisplayFirst]="false"
            [options]="languages$ | async"
            [formControlName]="field"
            optionLabel="name"
            filterBy="name"
            appendTo="body"
            [filter]="true"
          ></p-dropdown>
          <label [for]="field">
            {{ 'tables.' + field + '.singular' | translate }} {{ form.controls[field] | isRequired }}
            <span class="error">{{ form.controls[field] | errors | async }}</span>
          </label>
        </span>
      </div>
      <div class="xs:col-12 md:col-12 lg:col-12 mt-3">
        <p-fileUpload [multiple]="false" (onSelect)="onSelect($event)"></p-fileUpload>
      </div>
    </div>
    <app-entity-modal-buttons
      [loading]="loading"
      [form]="form"
      [name]="names.name(Naming.CAMEL_CASE, NumberMode.SINGULAR)"
      [modalMode]="modalMode"
      (cancel)="hide()"
      (submit)="send()"
    ></app-entity-modal-buttons>
    <app-entity-modal-audit
      [loading]="loading"
      [entity]="entity$ | async"
      [modalMode]="modalMode"
    ></app-entity-modal-audit>
  </form>
</p-dialog>
