<ng-container *appLet="language$ | async as language">
  <div class="app-generic-table-column">
    @switch (field.type) { @case (GenericFieldType.TEXT) {
    {{ data }}
    } @case (GenericFieldType.DATE) {
    {{ asDate(data) | date : 'dd/MM/yyyy' : '' : language()?.acronym }}
    } @case (GenericFieldType.DATETIME) {
    {{ asDate(data) | date : 'dd/MM/yyyy HH:mm' : '' : language()?.acronym }}
    } @case (GenericFieldType.IMAGE) {
    <img [src]="data" [alt]="field.label" />
    } @case (GenericFieldType.BOOLEAN) {
    <i
      class="pi"
      [ngClass]="{ 'pi-check': data, 'pi-times': !data }"
      [ngClass]="{ 'pi-check': data, 'pi-times': !data }"
      [ngStyle]="{ color: data ? '#22C55E' : '#DC2626' }"
    ></i>
    } @case (GenericFieldType.PERCENTAGE) {
    {{ data + '%' }}
    } @case (GenericFieldType.TRANSLATIONS) { @if (language) {
    {{ translation$ | async }}
    } } }
  </div>
</ng-container>
