<div class="app-generic-table-column" [ngSwitch]="field.type">
  <ng-container *ngSwitchCase="GenericFieldType.TEXT">
    {{ data }}
  </ng-container>
  <ng-container *ngSwitchCase="GenericFieldType.DATE">
    {{ data | date : 'dd/MM/yyyy' }}
  </ng-container>
  <ng-container *ngSwitchCase="GenericFieldType.DATETIME">
    {{ data | date : 'dd/MM/yyyy HH:mm' }}
  </ng-container>
  <ng-container *ngSwitchCase="GenericFieldType.IMAGE">
    <img [src]="data" [alt]="field.label" />
  </ng-container>
  <ng-container *ngSwitchCase="GenericFieldType.BOOLEAN">
    <i class="pi" [ngClass]="{ 'pi-check': data, 'pi-times': !data }"></i>
  </ng-container>
  <ng-container *ngSwitchCase="GenericFieldType.PERCENTAGE">
    {{ data + '%' }}
  </ng-container>
  <ng-container *ngSwitchCase="GenericFieldType.TRANSLATIONS">
    <ng-container *ngIf="language$ | async as language">
      {{ translation$ | async }}
    </ng-container>
  </ng-container>
</div>
