.language-item {
  display: flex !important;
  justify-content: flex-start;
  gap: 5px;

  .banderita {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nombre {
    margin-bottom: 2.2px;
  }
}

.translation-input-preview.p-inputgroup {
  p-dropdown {
    border-radius: 0.25rem 0 0 0.25rem;
    max-width: 7.5em;
  }
  .p-float-label {
    max-width: 7.5em;
    width: 100%;
  }
  .translation.p-float-label {
    max-width: calc(100% - calc(7.5em + 3em));
  }
}

.translation-full-view.p-inputgroup {
  .p-inputgroup-addon {
    min-width: 5em;
    span {
      min-width: 1.76rem;
    }
  }
  .p-float-label {
    width: 100%;
  }
}
.p-sidebar-right {
  max-width: 30em !important;
}

.translation-full-view.p-inputgroup {
  input {
    border-radius: 0;
  }

  .p-inputgroup-addon {
    min-width: 5em;
    span {
      min-width: 1.76rem;
    }
  }
  .p-float-label {
    width: 100%;
  }

  .delete-language-button-container {
    width: 3em;
    min-width: 3em;

    fa-icon:hover {
      color: #e24c4c !important;
      cursor: pointer;
    }
  }
}
.language-to-add {
  .p-dropdown {
    border-radius: 0.25rem 0 0 0.25rem;
  }
}
