<div class="translate-input" *appLet="suggestions$ | async as suggestions">
  <div class="p-inputgroup translation-input-preview" *ngIf="languagesToFill$ | async as languagesToFill">
    <span class="p-float-label">
      <p-dropdown appendTo="body" [options]="languagesToFill" [(ngModel)]="language" [style]="{ height: '100%' }">
        <ng-template pTemplate="selectedItem">
          <div class="language-item language-item-value" *ngIf="language">
            <div class="flag">
              <span class="" [class]="'flag flag-' + language.acronym"></span>
            </div>
            <div class="name">{{ language.acronym | uppercase }}</div>
          </div>
        </ng-template>
        <ng-template let-language pTemplate="item">
          <div class="language-item">
            <div class="flag">
              <span class="" [class]="'flag flag-' + language.acronym"></span>
            </div>
            <div class="name">{{ language.acronym | uppercase }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <label>{{ 'tables.language.singular' | translate }} </label>
    </span>
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="InputTranslationsType.INPUT">
        <span class="p-float-label translation" *ngIf="getActualTranslationControl() as translationForm">
          <input
            *ngIf="languagesToFill.length > 0"
            (input)="onActualTranslationChange($event)"
            type="text"
            [value]="getActualTranslation()"
            pInputText
            class="p-inputtext-sm"
            [ngClass]="{
              'ng-invalid': translationForm?.invalid,
              'ng-dirty': translationForm?.dirty
            }"
            [placeholder]="getSuggestion(suggestions, translationForm.controls['language'].value)"
            (focus)="setSuggestion(translationForm.controls['language'].value)"
            (keydown)="onKeyPress($event, translationForm.controls['language'].value)"
            [formControl]="translationForm.controls['value']"
          />
          <label>
            {{ label }} {{ translationForm.controls['value'] | isRequired }}
            <span class="error">{{ translationForm.controls['value'] | errors | async }}</span>
          </label>
        </span>
      </ng-container>
      <ng-container *ngSwitchCase="InputTranslationsType.TEXTAREA">
        <span class="p-float-label translation" *ngIf="getActualTranslationControl() as translationForm">
          <textarea
            rows="3"
            cols="30"
            pInputTextarea
            *ngIf="languagesToFill.length > 0"
            (input)="onActualTranslationChange($event)"
            type="text"
            [value]="getActualTranslation()"
            pInputText
            class="p-inputtext-sm"
            [ngClass]="{
              'ng-invalid': translationForm?.invalid,
              'ng-dirty': translationForm?.dirty
            }"
            [placeholder]="getSuggestion(suggestions, translationForm.controls['language'].value)"
            (focus)="setSuggestion(translationForm.controls['language'].value)"
            (keydown)="onKeyPress($event, translationForm.controls['language'].value)"
            [formControl]="translationForm.controls['value']"
          ></textarea>

          <label>
            {{ label }} {{ translationForm.controls['value'] | isRequired }}
            <span class="error">{{ translationForm.controls['value'] | errors | async }}</span>
          </label>
        </span>
      </ng-container>
    </ng-container>

    <button
      type="button"
      class="p-button-sm"
      pButton
      pRipple
      icon="pi pi-list"
      (click)="changeVisibility(true)"
      [attr.aria-label]="'Open sidebar'"
    ></button>
  </div>

  <p-sidebar
    [visible]="visibility"
    position="right"
    [baseZIndex]="20000"
    (onHide)="onHide()"
    appendTo="body"
    [style]="{ maxWidth: '900px !important' }"
    [styleClass]="type === InputTranslationsType.INPUT ? 'input-translations-input' : 'input-translations-textarea'"
  >
    <ng-template pTemplate="header"
      ><h4 class="p-0 m-0 pl-2">{{ label }} <fa-icon [icon]="faLanguage"></fa-icon></h4
    ></ng-template>
    <div>
      <div *ngFor="let translationForm of form?.controls; let i = index" [formGroup]="translationForm">
        <div class="xs:col-12 lg:col-12 mt-3">
          <div class="p-inputgroup translation-full-view">
            <span class="p-inputgroup-addon">
              <span class="" [class]="'flag flag-' + translationForm.controls['language'].value"></span>
              <div class="pl-1">
                <b>{{ translationForm.controls['language'].value | uppercase }}</b>
              </div>
            </span>
            <ng-container [ngSwitch]="type">
              <ng-container *ngSwitchCase="InputTranslationsType.INPUT">
                <span class="p-float-label">
                  <input
                    pInputText
                    [style]="{
                      width: '100%',
                    }"
                    [placeholder]="getSuggestion(suggestions, translationForm.controls['language'].value)"
                    (focus)="setSuggestion(translationForm.controls['language'].value)"
                    (keydown)="onKeyPress($event, translationForm.controls['language'].value)"
                    formControlName="value"
                  />
                  <label>
                    {{ label }} {{ translationForm.controls['value'] | isRequired }}
                    <span class="error">{{ translationForm.controls['value'] | errors | async }}</span>
                  </label>
                </span>
              </ng-container>
              <ng-container *ngSwitchCase="InputTranslationsType.TEXTAREA">
                <span class="p-float-label">
                  <textarea
                    pInputTextarea
                    #autoComplete
                    [style]="{
                      width: '100%',
                    }"
                    [placeholder]="getSuggestion(suggestions, translationForm.controls['language'].value)"
                    (focus)="setSuggestion(translationForm.controls['language'].value)"
                    (keydown)="onKeyPress($event, translationForm.controls['language'].value)"
                    formControlName="value"
                  ></textarea>
                  <label>
                    {{ label }} {{ translationForm.controls['value'] | isRequired }}
                    <span class="error">{{ translationForm.controls['value'] | errors | async }}</span>
                  </label>
                </span>
              </ng-container>
            </ng-container>

            <button
              *ngIf="showTimes(translationForm.controls['language'].value, languages$ | async)"
              type="button"
              class="p-button-sm p-button-danger"
              pButton
              pRipple
              icon="pi pi-trash"
              (click)="deleteLanguage(translationForm.controls['language'].value)"
              [attr.aria-label]="'Delete language'"
            ></button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="languagesToAdd$ | async as languagesToAdd">
        <ng-container *ngIf="languagesToAdd.length > 0">
          <div class="w-full h-3em"></div>
          <p-divider></p-divider>
          <div class="w-full h-3em"></div>

          <div class="p-inputgroup language-to-add p-2 mt-1">
            <span class="p-float-label">
              <p-dropdown
                [style]="{ width: '100%' }"
                appendTo="body"
                [options]="languagesToAdd"
                [formControl]="languageToAddFormControl"
                [autoDisplayFirst]="false"
              >
                <ng-template pTemplate="selectedItem" let-language>
                  <div class="language-item language-item-value">
                    <div class="flag">
                      <span class="" [class]="'flag flag-' + language.acronym"></span>
                    </div>
                    <div class="name">
                      {{ language.acronym | uppercase }} | {{ language.nativeName | titlecase }} |
                      {{ language.name | titlecase }}
                    </div>
                  </div>
                </ng-template>
                <ng-template let-language pTemplate="item">
                  <div class="language-item">
                    <div class="flag">
                      <span class="" [class]="'flag flag-' + language.acronym"></span>
                    </div>
                    <div class="name">
                      {{ language.acronym | uppercase }} | {{ language.nativeName | titlecase }} |
                      {{ language.name | titlecase }}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
              <label>{{ 'inputTranslations.languageToAdd' | translate }} </label>
            </span>
            <button
              [disabled]="!languageToAddFormControl.value || languageToAddFormControl.value === '' || form.disabled"
              type="button"
              class="p-button-sm"
              pButton
              pRipple
              icon="pi pi-plus"
              (click)="addLanguage(this.languageToAddFormControl.value)"
              [attr.aria-label]="'Add language'"
            ></button></div
        ></ng-container>
      </ng-container>
    </div>
  </p-sidebar>
</div>
