<div class="tools" *appLet="language$ | async as language" #tools>
  @if (!loading) {
  <ul>
    @for (entity of entities; track entity.id) {
    <li class="tool">
      <span class="name">
        {{ entity.name }}
      </span>
      <span class="ability">
        <div class="progress-border">
          <div class="progress-filled" [style.width]="entity.percentage + '%'">
            <div class="progress-animation" [@toolsEnterAnimation]="toolsElementState"></div>
          </div>
        </div>
      </span>
    </li>
    }
  </ul>
  } @else {
  <ul>
    @for (entity of [0, 1, 2, 3, 4, 5]; track entity) {
    <li class="tool">
      <span class="name pb-1 pt-1">
        <p-skeleton width="100%" height="1.5em"></p-skeleton>
      </span>
    </li>
    }
  </ul>
  }
</div>
