<div class="tools" *appLet="language$ | async as language">
  <ul *ngIf="!loading">
    <li *ngFor="let entity of entities" class="tool">
      <span class="name">
        {{ entity.name }}
      </span>
      <span class="ability">
        <div class="progress-border">
          <div class="progress-filled" [style.width]="entity.percentage + '%'">
            <div class="progress-animation"></div>
          </div>
        </div>
      </span>
    </li>
  </ul>
  <ul *ngIf="loading">
    <li *ngFor="let entity of [0, 0, 0, 0, 0, 0]" class="tool">
      <span class="name pb-1 pt-1">
        <p-skeleton width="100%" height="1.5em"></p-skeleton>
      </span>
    </li>
  </ul>
</div>
