<div class="proyects">
  <div class="proyect" *ngFor="let proyect of proyects$ | async">
    <div class="top">
      <h2>{{ proyect.name }}</h2>
    </div>
    <div class="bottom">
      <div class="left">
        <img src="{{ proyect.image }}" alt="{{ proyect.name }}" />
      </div>
      <div class="right">
        <p>{{ proyect.description }}</p>
        <div class="buttons">
          <div class="button" *ngFor="let button of proyect.links">
            <a href="{{ button.url }}" target="_blank">{{
              button.name | titlecase
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
