<div class="grid p-2">
  <div *ngFor="let name of names; let index = index" class="xs:col-12 lg:col-3">
    <app-entity-card
      [show]="true"
      [loading]="false"
      [title]="'tables.' + name + '.plural' | translate"
      count="{{ null }}"
      [url]="'backoffice/' + urls[index]"
      [icon]=""
    ></app-entity-card>
  </div>
  <div class="col-12 grid">
    <div class="col-12 min-h-10">
      <app-positions-in-time-chart></app-positions-in-time-chart>
    </div>
    <div class="col-6 min-h-10">
      <app-certificates-in-time-chart></app-certificates-in-time-chart>
    </div>
    <div class="col-6 min-h-10">
      <app-salary-in-time-chart></app-salary-in-time-chart>
    </div>
  </div>
</div>
