<div class="grid p-2">
  @for (name of names; track name; let index = $index) {
    <div class="xs:col-12 sm:col-12 md:col-3 lg:col-3">
      <app-entity-card
        [show]="true"
        [loading]="false"
        [title]="'tables.' + name + '.plural' | translate"
        count="{{ null }}"
        [url]="'backoffice/' + urls[index]"
      ></app-entity-card>
    </div>
  }
  <div class="w-full grid p-fluid">
    <div class="xs:col-12 sm:col-12 md:col-12 lg:col-12 min-h-10 p-0 m-0">
      <app-positions-in-time-chart></app-positions-in-time-chart>
    </div>
    <div class="xs:col-12 sm:col-12 md:col-6 lg:col-12 min-h-10 p-0 m-0">
      <app-certificates-in-time-chart></app-certificates-in-time-chart>
    </div>
    <div class="xs:col-12 sm:col-12 md:col-6 lg:col-12 min-h-10 p-0 m-0">
      <app-salary-in-time-chart></app-salary-in-time-chart>
    </div>
  </div>
</div>
