<div class="p-3 auth-main-container">
  <div class="flex align-items-center justify-content-start">
    <app-language-select></app-language-select>
  </div>
  <div class="flex align-items-center justify-content-center">
    <div class="auth-container p-fluid">
      <div class="grid">
        <div class="col-9 pl-3">
          <h3>{{ 'pages.formResetPassword.title' | translate }}</h3>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
          <div class="xs:col-12 lg:col-12 pt-1">
            <span class="p-float-label">
              <input pInputText name="password" type="password" formControlName="password" />
              <label for="password">{{ 'columns.newPassword' | translate }}</label>
            </span>
          </div>
          <div class="xs:col-12 lg:col-12 pt-1">
            <span class="p-float-label">
              <input pInputText name="repeat_password" type="password" formControlName="repeat_password" />
              <label for="repeat_password">{{ 'columns.repeatNewPassword' | translate }}</label>
            </span>
          </div>
          <div class="xs:col-12 lg:col-12">
            <div>
              <button
                *ngIf="!loading"
                [disabled]="form.invalid"
                pButton
                type="submit"
                [label]="'buttons.resetPassword' | translate"
                icon="ui-icon-person"
                style="width: 100%"
              ></button>
              <button
                *ngIf="loading"
                [disabled]="form.invalid"
                pButton
                type="submit"
                [label]="'buttons.resetPassword' | translate"
                icon="pi pi-spin pi-spinner"
                style="width: 100%"
              ></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
