.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .project {
    display: flex;
    gap: 2rem;
    align-items: stretch;

    .logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30rem;
      background-color: rgba(229, 229, 229);
      padding: 2rem;
      border-radius: 0.5rem;
      transition: all 0.15s ease;

      img {
        width: 100%;
      }

      .overlay {
        display: none;
        position: absolute;
        padding: 10px;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
        background-color: transparent;

        img {
          opacity: 0.1;
        }

        .overlay {
          display: flex;
          justify-content: center;
          filter: contrast(120%);
          color: var(--textColor);
          padding: 0.25rem;
          text-align: center;
          align-items: center;
          height: 100%;
        }
      }
    }

    .info {
      width: calc(100% - 30rem);
      display: flex;
      align-items: center;

      .info-container {
        width: 100%;
      }

      .technologies {
        padding-bottom: 1rem;
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        padding-bottom: 1rem;

        .title-and-date {
          h2 {
            font-size: 2rem;
            padding: 0rem;
            margin: 0rem;
          }

          .date {
            font-size: 1.25rem !important;
            font-style: italic;
          }
        }
      }

      .description {
        text-align: justify;
      }

      .img-shield {
        // border-radius: 7px 7px 10px 10px;
        border-radius: 5px 8px 8px 8px;
      }

      .project-links {
        display: flex;
        gap: 0.25rem;

        .button {
          border: none;
          font-size: 16px;
          color: #fff;
          padding: 8px 16px;
          background-color: var(--accentColor);
          border-radius: 6px;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .button:hover {
          background: var(--hoverBgColor);

          fa-icon {
            color: var(--hoverTextColor);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .projects {
    .project {
      flex-direction: column;

      .logo {
        width: 100%;
      }

      .info {
        width: 100%;
      }
    }
  }
}
