<div class="projects">
  @for (project of (projects() | sortBy : 'date'); track $index) {
  <!-- {{ project.id }} -->
  <div class="project" #project [id]="project.id" [@projectEnterAnimation]="getProjectEnterAnimationState(project.id)">
    <div class="logo">
      <img [src]="project.logo" [alt]="project.name" />
    </div>
    <div class="info">
      <div class="info-container">
        <span class="title">
          <span class="title-and-date">
            <h2>{{ project.name }}</h2>
            <p class="date">{{ project.date | date : 'MMMM, yyyy' }}</p>
          </span>
        </span>
        <div class="technologies">
          @for (technology of project.technologies; track $index) {
          <img
            [src]="generateTechnologyShield(technology)"
            [alt]="technology"
            class="pr-1 pb-1 img-shield"
            [style]="{
              'margin-top': '-3px'
            }"
          />
          }
        </div>
        <div class="project-links">
          @if (project.urls.web) {
          <button class="button" [attr.aria-label]="'Web'">
            <a [href]="project.urls.web" target="_blank">
              <fa-icon [icon]="faGlobe"></fa-icon>
            </a>
          </button>
          } @if (project.urls.microsoftStore) {
          <button class="button" [attr.aria-label]="'Microsoft Store'">
            <a [href]="project.urls.microsoftStore" target="_blank">
              <fa-icon [icon]="faMicrosoft"></fa-icon>
            </a>
          </button>
          } @if (project.urls.playStore) {
          <button class="button" [attr.aria-label]="'Google Play Store'">
            <a [href]="project.urls.playStore" target="_blank">
              <fa-icon [icon]="faGooglePlay"></fa-icon>
            </a>
          </button>
          } @if (project.urls.appStore) {
          <button class="button" [attr.aria-label]="'Google Play Store'">
            <a [href]="project.urls.appStore" target="_blank">
              <fa-icon [icon]="faAppStore"></fa-icon>
            </a>
          </button>
          }@if (project.urls.github) {
          <button class="button" [attr.aria-label]="'Github Repository'">
            <a [href]="project.urls.github" target="_blank">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
  }
</div>
