<form [formGroup]="form">
  <div class="grid">
    <ng-container *ngFor="let container of config?.containers">
      <p-card class="{{ container.width }}">
        <ng-template pTemplate="header" style="width: 100%">
          <h4 class="form-title">
            {{ container.title }}
          </h4>
        </ng-template>
        <base-form-container
          [container]="container"
          [errors]="errors"
          [formGroup]="form"
          [templates]="templates"
        >
        </base-form-container>
      </p-card>
    </ng-container>
    <p-card class="button-card sm:col-12">
      <ng-container *ngFor="let buttonConfig of config?.buttons">
        <button
          type="button"
          pButton
          label="{{ buttonConfig.label }}"
          icon="{{ buttonConfig.icon }}"
          (click)="buttonEvent({ type: buttonConfig.action, data: form })"
          class="p-button-primary p-button-sm mr-4"
        ></button>
      </ng-container>
    </p-card>
  </div>
</form>
