<div class="app-generic-table-header-column m-0 p-0" [ngClass]="{ 'p-highlight': isHighlight }">
  <div class="flex justify-content-between align-items-center m-0 p-0">
    <span class="w-full">
      {{ field.label | titlecase }}

      @if (field.type === GenericFieldType.TRANSLATIONS) {
        <span class="translation">
          <fa-icon [icon]="faLanguage"></fa-icon>
        </span>
      }
    </span>
    <div class="flex align-items-center justify-content-end gap-2 w-full">
      <fa-icon [icon]="filterIcon" class="cursor-pointer" (click)="filterTypes.toggle($event)"></fa-icon>
      <fa-icon [icon]="sortIcon" class="cursor-pointer" (click)="onSort()"></fa-icon>
    </div>
    <p-overlayPanel #filterTypes [style]="{ maxWidth: '250px' }">
      <form class="grid p-fluid" [formGroup]="filterFormGroup" (ngSubmit)="onSubmit()">
        <div class="filter-type col-12 mt-3">
          <span class="p-float-label">
            <p-dropdown [options]="FilterType | keyvalue" [autoDisplayFirst]="false" formControlName="filterType">
              <ng-template pTemplate="selectedItem" let-filterType>
                <div class="filter-type-item">
                  <span>{{ 'genericTable.filters.' + filterType?.key + '.name' | translate | uppercase }}</span>
                </div>
              </ng-template>
              <ng-template pTemplate="item" let-filterType>
                <div class="filter-type-item">
                  <p
                    [pTooltip]="'genericTable.filters.' + filterType?.key + '.description' | translate"
                    tooltipPosition="left"
                  >
                    {{ 'genericTable.filters.' + filterType?.key + '.name' | translate | uppercase }}
                    <span>
                      <fa-icon [icon]="faQuestion"></fa-icon>
                    </span>
                  </p>
                </div>
              </ng-template>
            </p-dropdown>
            <label>{{ 'columns.filterType' | translate }} *</label>
          </span>
        </div>

        <div class="filter col-12 mt-3">
          @switch (field.type) {
            @case (GenericFieldType.TEXT) {
              <span class="p-float-label">
                <input
                  type="text"
                  pInputText
                  (click)="$event.stopPropagation()"
                  class="p-inputtext-sm"
                  formControlName="value"
                />
                <label>{{ 'columns.value' | translate }} *</label>
              </span>
            }
          }
        </div>

        <div class="col-12 flex justify-content-between gap-2 flex-column mt-2">
          <button
            pButton
            type="reset"
            [label]="'buttons.deleteFilters' | translate"
            class="p-button-secondary p-button-sm"
            icon="fa-solid fa-trash"
            (click)="reset()"
          ></button>
          <button
            pButton
            type="submit"
            [label]="'buttons.filter' | translate"
            class="p-button-primary p-button-sm"
            icon="fa-solid fa-filter"
          ></button>
        </div>
      </form>
    </p-overlayPanel>
  </div>
</div>
