<div class="translate-input" [ngClass]="{ textarea: type === 'TEXTAREA' }">
  <div class="p-inputgroup translation-input-preview">
    <span class="p-float-label">
      <p-dropdown appendTo="body" [options]="languages" [(ngModel)]="language">
        <ng-template pTemplate="selectedItem">
          <div class="language-item language-item-value" *ngIf="language">
            <div class="banderita">
              <span class="" [class]="'flag flag-' + language.acronym"></span>
            </div>
            <div class="nombre">{{ language.acronym | uppercase }}</div>
          </div>
        </ng-template>
        <ng-template let-language pTemplate="item">
          <div class="language-item">
            <div class="banderita">
              <span class="" [class]="'flag flag-' + language.acronym"></span>
            </div>
            <div class="nombre">{{ language.acronym | uppercase }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <label>{{ 'tables.language.singular' | translate }} </label>
    </span>
    <span class="p-float-label translation">
      <input
        (input)="onActualTranslationChange($event)"
        type="text"
        [value]="getActualTranslation()"
        pInputText
        class="p-inputtext-sm"
        [ngClass]="{
          'ng-invalid': getActualTranslationInvalid(),
          'ng-dirty': getActualTranslationDirty()
        }"
      />
      <label>{{ label }} </label>
    </span>

    <button
      type="button"
      class="p-button-sm"
      pButton
      pRipple
      icon="pi pi-list"
      (click)="changeVisibility(true)"
    ></button>
  </div>

  <p-sidebar [visible]="visibility" position="right" [baseZIndex]="20000" (onHide)="onHide()" appendTo="body">
    <ng-template pTemplate="header"
      ><h4 class="p-0 m-0 pl-2">
        {{ 'general.translations' | translate : { name: label } }}
      </h4></ng-template
    >
    <div [formGroup]="form">
      <ng-container formArrayName="translations">
        <div *ngFor="let translationForm of translations?.controls; let i = index" [formGroup]="translationForm">
          <div class="xs:col-12 lg:col-12 mt-3">
            <div class="p-inputgroup translation-full-view">
              <span class="p-inputgroup-addon">
                <span class="" [class]="'flag flag-' + translationForm.controls['language'].value.acronym"></span>
                <div class="pl-1">
                  <b>{{ translationForm.controls['language'].value.acronym | uppercase }}</b>
                </div>
              </span>
              <span class="p-float-label">
                <input type="text" pInputText [placeholder]="label" formControlName="value" class="p-inputtext-sm" />
                <label>{{ label }}</label>
              </span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </p-sidebar>
</div>
