@import './reset.scss';
@import './assets/images/flags/flags.scss';

@import './assets/sass/_responsive_overrides.scss';
@import './assets/sass/layout.scss';
@import './assets/sass/theme.scss';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
}

.translate-input {
  .p-inputgroup {
    .p-dropdown {
      width: 100%;
      border-radius: 4px 0px 0px 4px;
    }
    input {
      width: 85%;
    }
  }

  .p-sidebar-right {
    width: 50%;
  }
  &.textarea {
    .p-sidebar-right {
      width: 85%;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  bottom: 0 !important;
  color: #000 !important;
  fill: black !important;
  stroke: black !important;
}

#myNav {
  z-index: 9999;
}

/*
COLOR PALLETTE
#F9546B
#FC7651
#FFDB60
#42CFCA
#009F93

#FF9BB2
#FFB5A4
#FDEEB8
#A0CDCF
#4A9E98
#CECFD3
*/

.title * {
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .title * {
    font-size: 20px !important;
  }

  p {
    font-size: 15px !important;
  }

  button {
    font-size: 15px !important;
  }

  span {
    font-size: 15px !important;
  }

  li {
    font-size: 15px !important;
  }
}

.p-dialog-header {
  padding: 1.5em 1.5em 0em 1.5em !important;
}

.p-float-label {
  label {
    display: flex;
    justify-content: space-between;
    padding-right: 2em;
  }
}

textarea {
  resize: vertical;
}

.p-datatable {
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
}
.p-sidebar,
.p-sidebar-active,
.p-sidebar-right {
  max-width: 300px;
  width: 100% !important;
}

.p-float-label label {
  white-space: nowrap;
}

.p-float-label,
.p-dropdown {
  height: 100%;
  min-height: 2em;
}

.translate-input {
  .p-float-label,
  .p-dropdown {
    height: auto;
    min-height: 100%;
  }
}

.my-container {
  width: 100% !important;
  align-items: center;
  display: flex;
  justify-content: center;

  .max-width {
    width: 100%;
    max-width: 1200px !important;
  }
}

h1 {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

app-sidebar {
  .p-togglebutton.p-button {
    height: 46.4px;
    width: 46.4px;
    background: var(--bgColor) !important;
    color: var(--textColor) !important;
    border-color: var(--borderColor) !important;

    span {
      color: var(--textColor) !important;
    }

    &:hover {
      background: var(--hoverBgColor) !important;
      color: var(--hoverTextColor) !important;

      span {
        color: var(--hoverTextColor) !important;
      }
    }
  }
}

$bgColorLight: white;
$bgColorDark: black;

$textColorLight: rgb(0, 0, 0);
$textColorDark: rgb(255, 255, 255);

$borderColorLight: rgba(0, 0, 0, 0.38);
$borderColorDark: white;

$accentColorLight: #4a9e98;
$accentColorDark: #4a9e98;

$accentTextColorLight: #345;
$accentTextColorDark: rgb(194, 194, 194);

$hoverBgColorLight: black;
$hoverBgColorDark: white;

$hoverTextColorLight: white;
$hoverTextColorDark: black;

@mixin lighten() {
  --bgColor: #{$bgColorLight};
  --textColor: #{$textColorLight};
  --borderColor: #{$borderColorLight};
  --accentColor: #{$accentColorLight};
  --hoverBgColor: #{$hoverBgColorLight};
  --hoverTextColor: #{$hoverTextColorLight};
  --accentTextColor: #{$accentTextColorLight};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColorDark};
  --textColor: #{$textColorDark};
  --borderColor: #{$borderColorDark};
  --accentColor: #{$accentColorDark};
  --hoverBgColor: #{$hoverBgColorDark};
  --hoverTextColor: #{$hoverTextColorDark};
  --accentTextColor: #{$accentTextColorDark};
}

body.dark {
  @include darken();
}
body.light {
  @include lighten();
}
body {
  background-color: var(--bgColor);
  color: var(--textColor);
  transition: background-color 0.5s ease, color 0.5s ease;
}
body {
  a {
    color: var(--textColor);
  }
}
.p-float-label label {
  top: 35%;
}
.error {
  padding-left: 1em;
}
.p-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
