<div class="p-3 auth-main-container">
  <div class="flex align-items-center justify-content-start">
    <app-language-select></app-language-select>
  </div>
  <div class="flex align-items-center justify-content-center">
    <div class="auth-container p-fluid">
      <div class="grid">
        <div class="col-9 pl-3">
          <h3>{{ 'pages.logIn.title' | translate }}</h3>
        </div>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmitLogin()">
        <div class="p-fluid">
          <div class="xs:col-12 lg:col-12 pt-1">
            <span class="p-float-label">
              <input pInputText name="email" type="text" formControlName="email" />
              <label for="email">{{ 'columns.email' | translate }}</label>
            </span>
          </div>
          <div class="xs:col-12 lg:col-12">
            <span class="p-float-label">
              <input pInputText type="password" formControlName="password" />
              <label for="password">{{ 'columns.password' | translate }}</label>
            </span>
          </div>
          <div class="xs:col-12 lg:col-12">
            <div>
              @if (!loading) {
                <button
                  [disabled]="formGroup.invalid"
                  pButton
                  type="submit"
                  [label]="'buttons.logIn' | translate"
                  icon="ui-icon-person"
                  style="width: 100%"
                ></button>
              } @else {
                <button
                  [disabled]="formGroup.invalid"
                  pButton
                  type="submit"
                  [label]="'buttons.logIn' | translate"
                  icon="pi pi-spin pi-spinner"
                  style="width: 100%"
                ></button>
              }
              <a [routerLink]="['/reset-password']" class="my-5" style="font-size: 12px">{{
                'pages.logIn.resetPassword' | translate
              }}</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
